*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.outer-wrapper {
  width: 60%;
  margin: 0 auto;
  
}
.s-wrap {
  width: 100%;
  margin-bottom: 4rem;
  padding-bottom: 35%;
  position: relative;
  border: 4px var(--sage) solid;
  overflow: hidden;
}
.s-wrap > input {
  display: none;
}
.s-wrap .s-content {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 50%;
  font-size: 0;
  list-style: none;
  transition: transform 1s;
}
.s-wrap .s-item {
  display: inline-block;
  width: 20%;
  height: 200%;
  background-repeat: no-repeat;
  background-size: cover;
}
.s-wrap .s-item-1 {
  background-image: url("/images/wp-images/Apiary-Backfill-9.20.18-940x400.jpg");
}
.s-wrap .s-item-2 {
  background-image: url("/images/wp-images/Apiary-Structure-9.17.18-940x400.jpg");
}
.s-wrap .s-item-3 {
  background-image: url("/images/wp-images/IMAG0414-940x400.jpg");
}
.s-wrap .s-item-4 {
  background-image: url("/images/wp-images/Apiary-Structure-9.17.18-940x400.jpg");
}
.s-wrap .s-item-5 {
  background-image: url("/images/wp-images/IMAG0414-940x400.jpg");
}
.s-type-1 .s-control {
  position: absolute;
  bottom: 18px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  transition-timing-function: ease-out;
}
.s-type-1 .s-control > label[class^=s-c-] {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #999;
  background-color: #efefe8;
  cursor: pointer;
}
.s-type-1 .s-nav label {
  display: none;
  position: absolute;
  top: 50%;
  padding: 5px 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.s-type-1 .s-nav label::before, .s-type-1 .s-nav label::after {
  content: "";
  display: block;
  width: 8px;
  height: 24px;
  background-color: #fff;
}
.s-type-1 .s-nav label::before {
  margin-bottom: -12px;
}
.s-type-1 .s-nav label.left {
  left: 20px;
}
.s-type-1 .s-nav label.left::before {
  transform: rotate(45deg);
}
.s-type-1 .s-nav label.left::after {
  transform: rotate(-45deg);
}
.s-type-1 .s-nav label.right {
  right: 20px;
}
.s-type-1 .s-nav label.right::before {
  transform: rotate(-45deg);
}
.s-type-1 .s-nav label.right::after {
  transform: rotate(45deg);
}
.s-type-1 #s-1:checked ~ .s-content {
  transform: translateX(0%);
}
.s-type-1 #s-1:checked ~ .s-control .s-c-1 {
  background-color: #333;
}
.s-type-1 #s-1:checked ~ .s-nav .s-nav-1 {
  display: block;
}
.s-type-1 #s-2:checked ~ .s-content {
  transform: translateX(-20%);
}
.s-type-1 #s-2:checked ~ .s-control .s-c-2 {
  background-color: #333;
}
.s-type-1 #s-2:checked ~ .s-nav .s-nav-2 {
  display: block;
}
.s-type-1 #s-3:checked ~ .s-content {
  transform: translateX(-40%);
}
.s-type-1 #s-3:checked ~ .s-control .s-c-3 {
  background-color: #333;
}
.s-type-1 #s-3:checked ~ .s-nav .s-nav-3 {
  display: block;
}
.s-type-1 #s-4:checked ~ .s-content {
  transform: translateX(-60%);
}
.s-type-1 #s-4:checked ~ .s-control .s-c-4 {
  background-color: #333;
}
.s-type-1 #s-4:checked ~ .s-nav .s-nav-4 {
  display: block;
}
.s-type-1 #s-5:checked ~ .s-content {
  transform: translateX(-80%);
}
.s-type-1 #s-5:checked ~ .s-control .s-c-5 {
  background-color: #333;
}
.s-type-1 #s-5:checked ~ .s-nav .s-nav-5 {
  display: block;
}

.s-type-2 .s-content {
  -webkit-animation: slider-animation 40s ease-in-out infinite;
          animation: slider-animation 40s ease-in-out infinite;
}
.s-type-2 .s-content:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes slider-animation {
  0%, 7% {
    transform: translateX(0%);
  }
  12.5%, 19.5% {
    transform: translateX(-20%);
  }
  25%, 32% {
    transform: translateX(-40%);
  }
  37.5%, 44.5% {
    transform: translateX(-60%);
  }
  50%, 57% {
    transform: translateX(-80%);
  }
  62.5%, 69.5% {
    transform: translateX(-60%);
  }
  75%, 82% {
    transform: translateX(-40%);
  }
  87.5%, 94.5% {
    transform: translateX(-20%);
  }
}

@keyframes slider-animation {
  0%, 7% {
    transform: translateX(0%);
  }
  12.5%, 19.5% {
    transform: translateX(-20%);
  }
  25%, 32% {
    transform: translateX(-40%);
  }
  37.5%, 44.5% {
    transform: translateX(-60%);
  }
  50%, 57% {
    transform: translateX(-80%);
  }
  62.5%, 69.5% {
    transform: translateX(-60%);
  }
  75%, 82% {
    transform: translateX(-40%);
  }
  87.5%, 94.5% {
    transform: translateX(-20%);
  }
}/*# sourceMappingURL=unwc-slider.css.map */