/* reset */
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 5rem;
    background-color: var(--ocean);
    color: var(--paper);
    margin: 0 auto;
}

span a:hover{
    color: var(--powder);
}

.module-p a:hover{
    color: var(--powder);
}

@media screen and (max-width: 75rem){
    .span{
        width: 85%;
    }
}
