*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/* donation */
.section-hero{
    width: 100%;
    height: auto;
    margin: 3rem 0;
}

.hero{
    width: 60%;
    height: auto;
    margin: 0 auto;
}

span{
    text-decoration: underline;
}

 /* donate section */
.section-donate{
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
}
  
/* palpal section */
.payPal-section{
  display: flex;
  place-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  width: 60%;
  margin: 0rem auto;
  border: 2px var(--grey) solid;
}

.contact-address{
  text-align: center;
}

.donate-button,
.donate-check{
  display: flex;
  flex-direction: column;
  place-content: center;
}

.donate-check{
  margin-top: 1.5rem;
}

/* section with the tree */ 
.shady-section{
  margin-top: 3rem;
}

.bottom-donate-proposition{
  width: 60%;
  margin: 0 auto;
}

.donation-tree{
  display: flex;
  place-content: center;
  width: 100%;
}


.pay-pal-separator-v{
  display: block;
  height: 100%;
  width: 2px;
  background-color: var(--grey);
}

.pay-pal-separator-h{
  display: none;
}

  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

@media screen and (max-width: 61rem){

  .pay-pal-separator-v{
    display: none;
  }

  .pay-pal-separator-h{
    display: none;
  }

}

@media screen and (max-width: 55rem){

  .pay-pal-separator-h{
    display: none;
  }

}

@media screen and (max-width: 50rem){

  .hero{
      width: 90%;
  }

  /* .payPal-section{
    width: 80%;
  } */

  .call-to-action{
    padding: 0 0rem .8rem 0rem;
  }

  .pay-pal-separator-h{
    display: block;
    height: 2px;
    width: 100%;
    margin-top: .5rem;
    background-color: var(--grey);
  }

  .bottom-donate-proposition{
    width: 90%;
  }
    
}


