/* reset */
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.resource-links-section{
  margin-bottom: 4rem;
}

.ul-list{
  width: 60%;
  margin: 0  auto;
}

li{
  line-height: 2.5rem;
}

.li-no-dec{
  list-style: none;
}

.with-dec{
  display: list-item;
}

#ul-6,
#ul-5{
  margin-top: 1.5rem;
}

li a:hover,
.resource-link:hover{
  color: var(--powder);
}

@media screen and (max-width: 50rem){

/*   .resource-header,
  .header-span{
    height: 18rem;
  } */

}

