/* reset */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Index Starts Here */
/* ......./ report boxes /......... */
.box-container {
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    transition: all .5s ease-in-out .3s;
}

.img-container {
    display: flex;
    position: relative;
    text-align: center;
    max-width: 100%;
}

.report-link {
    position: absolute;
    inset-block-start: 50%;
    transform: translate(0%, -50%);
    font-weight: 900;
    width: 100%;
    color: var(--paper);
    text-decoration: underline;
    text-transform: uppercase;
    background-color: transparent;
}

.report-link:hover {
    animation: animate .8s linear;
    color: var(--powder);
    cursor: pointer;
}

/* ......./ main body section "What's Happening..." /......... */
.module-p a:hover {
    color: var(--powder);
}

/* ......./ volunteer Join Us /......... */
.section-volunteer {
    display: flex;
    place-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 5rem;
    margin-bottom: .5rem;
    width: 100%;
}

.volunteer-image img {
    width: 30rem;
    height: auto;
    border-radius: .5rem;
}

.volunteer-p {
    width: 50%;
    text-align: left;
}

.volunteer-p a {
    color: var(--mauve);
    padding: 0 .5rem;
}

.volunteer-p a:hover {
    color: var(--powder);
}

/* ......./ blog section /......... */
.blog-container {
    display: flex;
    place-content: center;
    place-items: center;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 8rem;
    row-gap: 3rem;
}

.blog-image {
    position: relative;
    width: 20rem;
    height: auto;
    margin: 0 auto;
    border: 2px var(--unwc-grey) solid;
    box-shadow: 0 3px 10px darkgray;
}

.blog-title:hover,
.blog-link:hover {
    color: var(--powder);
}

/* donation section */
.donation-proposition {
    width: 60%;
    margin: 1rem auto;
}

.donate-button,
.plant-a-tree {
    text-align: center;
    padding-top: .5rem;
}

/* Index Ends Here */

/* Who We Are Starts (About) */
/* purpose statement section */
.board-section-module {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    margin: 0 auto;
    background-color: var(--grey);
}

.our-purpose {
    display: flex;
    flex-direction: column;
    place-content: center;
}

/* deep dive */
.deep-dive {
    max-width: 100%;
    width: 30%;
    height: 40rem;
    margin: 0 auto;
    padding: 0 1rem;
    border: 2px var(--sage) solid;
    box-shadow: 0 0px 8px 2px hsl(0, 100%, 97%, 70%);
    max-width: 60rem;
}

.deep-dive-info {
    list-style: none;
    line-height: 2.5rem;
}

.deep-dive a:hover {
    color: var(--powder);
}

.m-h {
    padding-top: 2rem;
}

/* board members */
.flex-container {
    display: flex;
    position: relative;
    place-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 5rem;
    width: 80%;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}

/* .f-1{
   padding-bottom: 5rem;
} */

.team-member-cards {
    width: 100%;
    height: auto;
    padding: 3rem 0;
}

.team-member-card {
    background: var(--paper);
    box-shadow: 0 0px 12px 4px hsl(0, 0%, 50%, 45%);
}

.team-member-photo,
.team-member-content {
    width: 25rem;
    height: auto;
    object-fit: contain;
}

.team-member-name,
.team-member-bio,
.titles {
    margin-left: .4rem;
    padding: 0 .5rem .5rem 0;
}

.team-member-name,
.modal-button,
.titles {
    font-family: 'Book Antiqua', Times, serif;
    font-size: var(--font-body-paragraph);
    font-weight: bold;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding: 3rem 1rem;
}

/* Modal Content */
.modal-content {
    position: static;
    background-color: #fefefe;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1rem 0 1rem;
    border-radius: 1rem;
    border: 1px solid #888;
    box-shadow: 0 0px 8px 2px hsl(0, 100%, 97%, 70%);
    max-width: 60rem;
    width: minmax(23rem, 60rem);
    height: auto;
}

.modal-button {
    width: minmax(5rem, 10rem);
    height: 3rem;
    background-color: transparent;
    border: none;
    margin-left: .5rem;
    font-size: var(--font-size-350);
    font-weight: 900;
    color: var(--mauve);
}

.modal-button:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--ocean);
}

/* The Close Button */
.close {
    color: var(--powder);
    float: right;
    font-size: 35px;
    margin-top: -2rem;
    margin-right: 1rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--fir);
    text-decoration: none;
    cursor: pointer;
}

/* Who We Are Ends (About) */

/* Contact */
.section-header {
    padding-bottom: 1rem;
}

.contact-form-container {
    display: grid;
    place-items: center;
    grid-template-columns: 60% 40%;
    grid-template:
        "contact-form unwc-address";
    grid-auto-flow: row;
    column-gap: 3rem;
    overflow: hidden;
}

.contact-info-header {
    margin-bottom: .5rem;
}

#name,
#email,
#message {
    font-size: .7em;
}

.contact-form {
    grid-area: contact-form;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--oregon-sky);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: var(--sage);
    color: var(--paper);
    font-weight: 600;
    font-size: var(--font-size-200);
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--basil);
}

.unwc-address {
    grid-area: unwc-address;
}

.unwc-address {
    text-align: center;
}

.unwc-address ul {
    list-style: none;
}

.exec-title {
    margin-bottom: .5rem;
}

#map {
    height: 500px;
    width: 80%;
    border: 2px var(--ocean) solid;
    margin: 0 auto;
}

/* Contact End */

/* News */
.news-member-container {
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 3rem;
    row-gap: 3rem;
    width: 90%;
    height: auto;
    margin: 0 auto;
    transition: all 1s ease-in-out;
}

.news-member-header {
    text-align: center;
    margin-bottom: .5rem;
}

.news-member-pic {
    display: flex;
    place-items: center;

    width: 100%;
    height: auto;
    margin: 3rem 0rem .5rem 0;
    border: 2px red solid;
}

.news-member-info {
    margin: 1.5rem 3rem 0 0;
}

.news-events {
    padding: .5rem;
    max-width: 100%;
    background-color: var(--grey);
    border: 2px var(--basil) solid;
}

.news-emp-announce {
    display: block;
    width: 200rem;
    height: 30rem;
}

.g-cal-frm {
    max-width: 100%;
    width: 175rem;
    height: 30rem;

}

.news-member-friendly {
    width: 80%;
    margin: 0 auto;
}

.news-horizontal-line-thin {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--grey);
    margin: 3rem 0;
}

/* News End */

/* Volunteer */
/* board member volunteer section */
.board-member-volunteer-content {
    display: flex;
    place-content: center;
    place-items: center;
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap: 2rem;
}

.planting-img {
    max-width: 100%;
    width: 28rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.board-message {
    flex-basis: 28rem;
    padding: .5rem;
    margin: 0 1rem;
    border: 2px var(--ocean) solid;
}

/* middle section "Project Volunteers */
.project-section-module {
    display: flex;
    place-items: center;
    flex-direction: column;
    width: 100%;
}

/* bottom section Youth Involvement*/
.youth-involvement {
    display: flex;
    place-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 2rem 1rem 3rem 1rem;
}

/* message above the three pictures */
.module-p-border {
    border: 2px var(--basil) solid;
    padding: .5rem;
}

/* images */
.youth-pic-container {
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template: "img-one img-two img-three";
    grid-auto-flow: column;
    max-width: 100%;
    width: 100%;
    column-gap: 3rem;
    row-gap: 2rem;
    transition: all 2s ease-in-out;
}

.youth-volunteers-img {
    width: 35rem;
    height: auto;
    transition: all 1s ease-in-out;
}

/* Volunteer Ends */

/* Board Meeting */
.bm-span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 5rem;
    background-color: var(--ocean);
    color: var(--paper);
    margin: 0 auto;
}

.bm-span a:hover {
    color: var(--powder);
}
/* Board Meeting Ends */

/* Blog */
.blog-header {
    text-align: left;
    padding: 0rem 0 2rem 15rem;
}

.blog-header-top {
    padding-top: 2rem;
}

.blog-content-btm {
    padding-bottom: 3rem;
}

.blog-content {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 7rem;
    row-gap: 3rem;
    width: 100%;
    height: auto;
    transition: all 1s ease-in-out;
}

.blog-thumbnail {
    display: flex;
    place-items: center;
    width: 8rem;
    height: 8rem;
    margin: 2rem 0rem .5rem 10rem;
    border: 2px var(--unwc-grey) solid;
    box-shadow: 3px 3px 5px var(--unwc-grey);
}

.blog-teaser {
    padding: 1.5rem 45rem 0 0;
}

.blog-teaser a:hover {
    color: var(--powder);
}

/* Blog Ends */

/* Resources */
.resource-links-section {
    margin-bottom: 4rem;
}

.ul-list {
    width: 60%;
    margin: 0 auto;
}

li {
    line-height: 2.5rem;
}

.li-no-dec {
    list-style: none;
}

.with-dec {
    display: list-item;
}

#ul-6,
#ul-5 {
    margin-top: 1.5rem;
}

li a:hover,
.resource-link:hover {
    color: var(--powder);
}

/* Resources Ends */

/* Donate */
.donate-info {
    width: 60%;
    height: auto;
    margin: 0 auto;
}

.call-to-action {
    text-decoration: underline;
}

/* donate cards section */
.donate-section {
    display: flex;
    place-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    width: 60%;
    row-gap: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4rem;
    transition: all 1s ease-in-out;
}

.contact-address {
    text-align: center;
}

.paypal-card,
.check-card {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    margin: 0 1rem;
    border: 2px var(--unwc-grey) solid;
    box-shadow: 3px 3px 0px var(--unwc-grey);
}

.check-card {
    padding: .5rem;
}

.paypal-card {
    text-align: center;
    padding: .5rem;
}

/* section with the tree */
.shady-section {
    margin-top: 3rem;
}

.bottom-donate-proposition {
    width: 60%;
    margin: 0 auto;
}

.donation-tree {
    display: flex;
    place-content: center;
    width: 100%;
}

/* Donate Ends */

@keyframes animate {

    50% {
        transform: scale(1.07);
    }

}

@media screen and (max-width: 112.5rem) {

    .youth-volunteers-img {
        width: 30rem;
        transition: all 1s ease-in-out;
    }

    .youth-pic-container {
        grid-template-rows: 1fr;
        grid-template:
            "img-one"
            "img-two"
            "img-three";
    }
}

/* media screens */
@media screen and (max-width: 75rem) {

    /* Index */
    .box-image {
        width: 95%;
        margin: 0 auto;
    }

    /* what's happening */
    .flex-blog-container {
        row-gap: 2rem;
    }

    #blog-image {
        width: 20rem;
        margin: 0 auto;
    }

    /* volunteer */
    #v-img {
        width: 22rem;
        margin: 0 auto;
        padding-bottom: 2rem;
        border-radius: .5rem;
    }

    .volunteer-message {
        width: 90%;
    }

    /* About */
    .our-purpose {
        padding: 0 1rem;
        margin: 0 auto;
        width: 100%;
    }

    /* deep dive */
    .deep-dive {
        width: 90%;
        margin-top: 2rem;
    }

    /* board members */
    .flex-container {
        row-gap: .5rem;
    }

    .f-1 {
        padding-bottom: .5rem;
    }

    .team-member-card {
        transform: scale(.89);
    }

    /* contact */
    .contact-form-container {
        grid-template-columns: 1lr;
        grid-template:
            "contact-form"
            "unwc-address";
        grid-auto-flow: column;
        column-gap: 3rem;
        margin: 0 1.5rem;
        overflow: hidden;
    }

    .contact-header {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .exec-title {
        margin-top: 2.5rem;
    }

    /* news */
    .news-member-container {
        flex-wrap: wrap;
    }

    /* volunteer */
    .youth-volunteers-img {
        width: 22rem;
        transition: all 1s ease-in-out;
    }

    /* board meeting */
    .bm-span {
        width: 85%;
    }

    /* blog */
    .blog-header {
        padding: 3rem 0 2rem 5rem;
    }

    .blog-title {
        padding-right: 10rem;
    }

    .blog-content,
    .blog-header {
        margin-left: 5rem;
    }

    .blog-content {
        flex-wrap: wrap;
        transition: all 1.5s ease-in-out;
    }

    .blog-thumbnail {
        margin: 2rem 0rem .5rem 0rem;
    }

    .blog-teaser {
        margin: 1.5rem 1.5rem 0 0;
    }
}

@media screen and (max-width: 50rem) {

    /* blog */
    .blog-header {
        padding: 3rem 2rem 1rem 0rem;
    }

    .blog-title {
        padding-right: 3rem;
    }

    .blog-content,
    .blog-header {
        margin-left: 2rem;
    }

    .blog-teaser {
        padding: 1.5rem 1.5rem 0 0;
    }
}